.subtitulos{
    font-size: 40px;
    margin: 40px;
    font-weight: bold;
 
}
.subtitulos__2{
    padding: 25px;
    font-size: 20px;

}

.parrafo__{
    width: fit-content;
    color: white;
    align-self: center;
}

.precio___{
    color: black;
    font-style: italic;
    font-size: medium;
}