
    .header{
       color: white;
        background-color: $bg-primary;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        &__elementoh1{
            font-style: normal;
            font-size: 40px;
           margin-top: 20px;
           justify-self: center;
           &_hijo2{
            margin-top: 10px;
            margin-bottom: 10px;
        }
              
        }
           }
        .img1{
            width:100%;
            height: 100%;
        }
        
        .logo{
           align-self:center;
           margin-left: 80px;
           margin-top:30px;
          
         
        }
        
        .navbar{
           list-style-type: none;
           align-items: center;
           display: flex;
           justify-content: center;
           justify-content: space-between;
           .navbar__elemento{
            font-style: italic;
            font-size: 20px;
            list-style-type: none;
            margin: 1rem;}

            .nav-item:hover{
                background-color: $bg-secondary;
               
            }
        }
        div span{
            display: none;
        }
        
        
            
          
         