.footer{
    background-color:$bg-primary;
    font-size: 20px;
    color:white;
    border-style: double;
    display:flex;
    flex-direction: column;
    text-decoration: none;
    margin-top: 40px;
    position: relative;
}
.section2__{
    margin-right: 30px;
    padding:10px;
   
}
 
.footer-RedesSociales__{
    align-self: center;
    visibility:inherit;
    justify-content: space-around;
    position: absolute;
    right: 0px;
    bottom: 0px
   }
   .footer_formulario{
    align-content: center;
    margin-top: 10px;
    margin-bottom:10px;
}